{% extends 'youdecide/base.html' %}

{% block content %}
    <body id='bigBody'>
    <div class='container'>
        <div class='text-center jumbotron'>
            <h1>Good Evening</h1>
            <p>Shall we get started?</p>
            <form method='GET' action='new'>
                <input class='btn btn-lg btn-danger' type='submit' id='days' value="I'm quite famished" />
            
            </form>
        </div>
    </div>
	<div class='container'>
        	<h3 class='text-center'>Welcome to a very early version of youdecide.xyz and thank you for helping me test it out</h3>
		<br>
		<br>
		<p>Currently, the website offers you a recipe from seriouseats.com, one of my personal favorites, and constructs a grocery list for cooking that meal.</p>
		<p>If you like the sound of the recipe and would like another, click the green button. If you'd like something else, push the red.</p>
		<p>That's pretty much it.</p>
		<p>Thank you for testing my little project. If you have any thoughts on how to improve it, I'd love to know</p>
		<p>Oh, and, the grocery list isnt always the most accurate thing. It's like 90% accurate, so if you see a recipe that you are excited about, just double check the ingredients from the actual recipe by clicking the link (the name of the recipe)</p>
	</div>
	<div class='container'>
		<h3 class='text-center'>Coming features...</h3>
		<ul>
			<li>search parameters</li>
			<li>reverse recipe search</li>
			<li>more recipes from great food webpages</li>
			<li>better functioning grocery list, no more of this zest of lemon juice business</li>
			<li>item amounts in grocery list</li>
			<li>ability to manually add grocery list items</li>
		</ul>
	</div>
	
    </body>

{% endblock %}
