{% extends 'youdecide/base.html' %}

{% block content %}
    <body id='bigBody'>
    <div class='container'>
        <div class='text-center jumbotron'>
            <h1>Good Evening</h1>
            <p>Shall we get started?</p>
            <form method='GET' action='new'>
                <input class='btn btn-lg' type='submit' id='days' value="I'm fucking hungry" />
            
            </form>
        </div>
    </div>
    <blockquote style='text-align:center;'> 
        <p> Those who eat peanuts live longer than those who don't eat</p>
        <footer> the subway car purchased by the peanut industry</footer>
    </blockquote>
        <p>
    </body>

{% endblock %}
