<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>You Decide</title>
    <link href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet' >
    <link href='/static/base.css' rel='stylesheet' >
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script>
        $(document).ready(function(){
            var PKeyArray=[{{ pk }}];
            var PKTemp;
            var recipeObjs=[];
            var recipeObjTemp={};
            $("#remove").hide();
            function savePK(pk){
                PKTemp=pk;
                return;
            }

            //html modifying functions

            function publishGList(json){
                //takes django organized grocery list and inserts into html
                var gList ='';
                var ing =[]; 
                for (var i in json){
                    ing.push(i);
                }
                for (i=0;i<ing.length;i++){
                    gList += "<tr style='inline-block'><td><input type='checkbox' value=''/></td><td class='ingredient'>" + ing[i] + "</td><td style='display:none;' class='ingredient'>" + json[ing[i]] + "</td></tr>"; 
                    //var of display is json[ing[i]]
                    } 
                $("#grocery_list").html(gList);
            }

            function publishChosenRecipes(recipeArray,targetId){
                //organizes chart of chosen recipes. Full row: Title \ row divided by 3:[ active time, yield, and total Time]
                var htm = '';
                $.each(recipeArray, function(){
                    htm += "<div class='container-fluid'><div class='row'><div class='col-xs-12'><a target='_blank' class='text-center' id='mainDisplay' href='" + this.url +"'><p>"+this.title + "</p></a></div></div><div class='row'><div class='col-xs-6 text-center'><p>"+ this.yiel+ 
                    "</p></div><div class='col-xs-6 text-center'><p>total time: "+ this.total_time+ "</p></div></div></div>";
                });
                $(targetId).html(htm);
                
            }

            //ajax functions

            function loader(){
                //loads grocery list. requests json file arranged as {ingredient: amounts} for all ingredients
                //in current recipes
                $.ajax({
                    url:"../recipeAjax",
                    data:'PK=' + PKeyArray.join('&PK='),
                    type:"GET",
                    dataType:"json"
                })
                .done(function(json){
                    publishGList(json);
                    publishChosenRecipes(recipeObjs, '#thechosenfew');
                });   
            }

            function loadSavedRecipes(){
                //sends request by PK for recipe info ie: title, yield, time, url, imgUrl. 
                //Run when page loads to gather any recipes that might be saved in url
                $.ajax({
                    url:"../lookUpByPk",
                    data:"PK=" +PKeyArray.join("&PK="),
                    type:"GET",
                    dataType:"json",
                })
                .done(function(json){
                    console.log(json);
                    $.each(json, function(){
                       recipeObjs.push(this);
                    })
                    publishChosenRecipes(recipeObjs, "#thechosenfew");
                    loader();
                    $("#remove").show();
                    
                });
            }

            loadSavedRecipes();

            //event listener and ajax
            $("#nope").click(function(){
                //loads new recipe. Takes info in restriction form, gets another recipe object
                var d = $("#form1").serialize();
                $.ajax({
                    url:"../newAjax",
                    data:d,
                    type:"GET",
                    dataType:"json"
                })
                .done(function(json){
                    recipeObjTemp={'title':json.title,'url':json.url,'yiel':json.yiel,'active_time':json.active_time,
                    'total_time':json.total_time};
                    savePK(json.pk);
                    publishChosenRecipes([recipeObjTemp],'#meal_table_head');

                });
            });

            //evenet listeners
            
            $("#yep").click(function(){
                //Puts selected recipe into URL, puts it in the selected recipe box, and loads a grocery list
                PKeyArray.push(PKTemp);
                recipeObjs.push(recipeObjTemp);
                loader();
                history.pushState({'foo':"bar"}, 'blah',"?PK="+PKeyArray.join("&PK="));
                $("#remove").show();
               
            });
            $(document).on("click touchend",".ingredient",function(){
                $(this).hide();
                $(this).siblings().show();

            });


        });
   </script>
</head>
<body>
    <div class="container">
     <form id='form1'class="form">
        <label class="radio-inline">               
            <input type='radio' name='restrictions' value='vegan'/>vegan
        </label>
        <label class="radio-inline">
            <input type='radio' name='restrictions' value='vegetarian' />vegetarian
        </label>
        <label class="radio-inline">
            <input type="radio" name="restrictions" value="everything"/>I'll eat whatever
        </label>
        <input type="text" name="search" value="search">
     </form>
    </div>
    <div class='container text-center'>
        <h3> Having trouble making a choice? How about...</h3>
    </div>
    <div class='container'>
        <div class='jumbotron' style='background-image:url("http://www.seriouseats.com/recipes/assets_c/2015/07/20150716-chicken-fried-chicken-recipe-food-lab-52-thumb-1500xauto-424949.jpg")'>
            <div class='text-center'>
                <h1>We Help</h1>
                <h1>You</h1>
                <h1>Decide</h1>
                    <div class='container' style="text-align: center">
                        <h3 id='meal_table_head'></h3>
                            <div id='id_meal_table' style='padding-top:30 px'>
                            </div>
                    </div>
            </div>
            <div class='container'>
                <div class='row'>
                    <button class='btn btn-success btn-default col-xs-6' id='yep' value='that sounds nice' name='new'>add it to my grocery list</button>
                    <button class='btn btn-danger btn-default col-xs-6' id='nope' value='no t.hanks' name='nope'>Next Recipe!</button>
                </div>
          
            </div>
        </div>
    </div>
    <div class='container'>
        <blockquote>
            <div id='thechosenfew'>
            </div>
        </blockquote>
        <form action='../meals'>
            <button class='btn btn-danger btn-default col-xs-12' id='remove' value='removeRecipes'>remove current recipes</button>
        </form>
   
    </div>
    <div class='container checkbox'>
        <table class='table'id='grocery_list'>
        </table>
    </div>
</body>
</html>
